header {
  background-color: #1e1e1e;
  color: #6b9a34;
}
header,
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header nav ul li:not(:last-child){
  margin-right: 1em;
}

header nav ul li a {
  background-color: #f1f1f1;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #333;
}

main {
  padding: 1em;
  background-color: #252525;
  color: #fff;
  display: flex;
}
h2{
  color: #30a72a;
}
aside h2{
  min-width: 30vw;
}
main .container {
  flex-direction: column;
}
/* main section {
  
} */

main a,
aside li a{
  margin-right: 1em;
  color: #a6c071;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.active {
  color:#fff;
  background-color: #30a72a;
  border-radius: .3rem;
  padding: .7em 1em;
  transition: all 0.3s ease-in-out;
}