.task-item {
  border-bottom: 1px solid #e4e4e4;
  background-color: #e1e1e1;
  background-color: #e0e0e0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 80%;
  padding: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.even {
  background-color: #FAFAFA;
}
.actions {
  padding: .7em;
  border-radius: 50%;
  content:flex-center '../../index.css';
  width: 40px;
  height: 40px;
  margin-right: 1em;
}
.edit-mode {
  background-color: #9a9595;
  border-radius: .3rem;
}
.edit {
  background-color: #4CAF50;
}
.delete {
  background-color: #f44336;
}