.inputForm {
  width: 100%;
  margin: 1em;
}
.taskInput {
  width: 100%;
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 0.3em;
}
.taskInput:focus {
  width: 100%;
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 0.3em;
  background-color: #4954ac;
}
.inputFormTitle {
  text-shadow: #3b5998 1px 0 5px;
}
.inputFormTitleEmpty {
  color: #CC3300;
}
.taskInputEmpty{
  border: 1px solid #CC3300;
  background-color: #FF9966;
}