.wrapper {
    margin: 2em auto;
    border-radius: .5rem;
    background-color: #feffff;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f2f6;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 1em 0;
}

.item-icon {
    flex-basis: 15%;
}

.item-info {
    flex-basis: 50%;
}

.item-cost {
    flex-basis: 35%;
    justify-content: flex-end;
    padding: 2em;
}

/* icon Stacks */
.incoming {
    color: #3772a9
}

.light-incoming {
    color: #eaf1f8
}

.transfer {
    color: #6465d8
}

.light-transfer {
    color: #eeeffc;
}

.car {
    color: #48a6e2
}

.light-car {
    color: #ecc5fe;
}

.bizum {
    color: #33d3d8;
}

.light-bizum {
    color: #eeeffc;
}

.bill {
    color: #d977eb;
}

.light-bill {
    color: #f8f2fd;
}

.electricity {
    color: #fac904;
}

.light-electricity {
    color: #edfaf8;
}

/* Money */
.income {
    color: #3dbaa1;
    font-weight: 600;
}

.expense {
    color: #c8524e;
    font-weight: 600;
}

.expense-date {
    color: #b0b0b8;
    font-size: 1.5rem;
}
.m-left-20{
    margin-left: 20px;
}