.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f2f6;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 1em 0;
}
