/* version 2 cohete  */
h3{
   transition: all 3s ease-in-out cubic-bezier(1,-0.01,0,0.99);

}
h3 span{
    display: inline-block;
    margin: 1em 0;
    padding: .3em .5em;
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 0.5em;
    font-size: 5rem;
}
.yellow{
        background-color: var(--warning);
}
.red{
    background-color: var(--danger);
}
.move{
    transform: translateY(-500px);
}
.pane{
    display:inline-block;
    border: 3px solid var(--dark);
    border-radius: 0.5rem;
    padding: .3em .5em;
    color: white;
    font-style: italic;
}